ToDo/assets/data/Schema/xml2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://todolistmainzi.azurewebsites.net/"
xmlns="http://todolistmainzi.azurewebsites.net/"
elementFormDefault="qualified">
  <xs:element name="tasks">

    <xs:element name="task" maxOccurs="unbounded">
      <xs:complexType>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="date" type="xs:string"/>
      </xs:complexType>
    </xs:element>

  </xs:element>
</xs:schema>
